---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/amb-base.css';
import { site } from '../content/site';

const web3FormsKey = import.meta.env.PUBLIC_WEB3FORMS_KEY ?? '';
const useWeb3Forms = Boolean(web3FormsKey);
const fallbackEmail = site.nap?.email ?? 'info@amblast.nl';
---
<BaseLayout
  title="Home"
  description="Specialist in industriële schoonmaak. Amblast is dé partner voor industriële reiniging in de papierindustrie en andere productieomgevingen in Limburg."
  bodyClass="amb-home amb-singular amb-template amb-template-h-f amb-page-flag amb-page-id-845 amb-custom-logo amb-theme amb-hide-header-image amb-header-flag amb-footer-flag amb-tpl-clean amb-css-clean amb-cleanco-blog-type-gutenberg-ready amb-cleanco-classic-layout amb-cleanco-layout-fullwidth amb-cleanco-header-image-hide amb-no-sidebar amb-sidebar-none amb-cleanco-sticky amb-default amb-template-full amb-kit amb-page amb-page-home"
  preloadImage="/uploads/hero/IMG_20210723_135545-scaled-e1631503963184.jpg"
>
<div data-amb-type="amb-page-type" data-amb-id="845" class="amb amb-845">
						<section class="amb-section amb-section-top amb-el amb-el-2ba31f80 amb-section-boxed amb-section-h-default amb-section-h-default" data-id="2ba31f80" data-amb-el-type="section" data-settings="&#123;&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;wave-brush&quot;,&quot;shape_divider_top&quot;:&quot;mountains&quot;&#125;">
							<div class="amb-bg-overlay"></div>
						<div class="amb-shape amb-shape-top" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="amb-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"/>
	<path class="amb-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"/>
	<path class="amb-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"/>
</svg>		</div>
				<div class="amb-shape amb-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
	<path class="amb-shape-fill" d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z"/>
	<path class="amb-shape-fill" d="M269.6,18c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C267.7,18.8,269.7,18,269.6,18z"/>
	<path class="amb-shape-fill" d="M227.4,9.8c-0.2-0.1-4.5-1-9.5-1.2c-5-0.2-12.7,0.6-12.3,0.5c0.3-0.1,5.9-1.8,13.3-1.2	S227.6,9.9,227.4,9.8z"/>
	<path class="amb-shape-fill" d="M204.5,13.4c-0.1-0.1,2-1,3.2-1.1c1.2-0.1,2,0,2,0.3c0,0.3-0.1,0.5-1.6,0.4	C206.4,12.9,204.6,13.5,204.5,13.4z"/>
	<path class="amb-shape-fill" d="M201,10.6c0-0.1-4.4,1.2-6.3,2.2c-1.9,0.9-6.2,3.1-6.1,3.1c0.1,0.1,4.2-1.6,6.3-2.6	S201,10.7,201,10.6z"/>
	<path class="amb-shape-fill" d="M154.5,26.7c-0.1-0.1-4.6,0.3-7.2,0c-7.3-0.7-17-3.2-16.6-2.9c0.4,0.3,13.7,3.1,17,3.3	C152.6,27.5,154.6,26.8,154.5,26.7z"/>
	<path class="amb-shape-fill" d="M41.9,19.3c0,0,1.2-0.3,2.9-0.1c1.7,0.2,5.8,0.9,8.2,0.7c4.2-0.4,7.4-2.7,7-2.6	c-0.4,0-4.3,2.2-8.6,1.9c-1.8-0.1-5.1-0.5-6.7-0.4S41.9,19.3,41.9,19.3z"/>
	<path class="amb-shape-fill" d="M75.5,12.6c0.2,0.1,2-0.8,4.3-1.1c2.3-0.2,2.1-0.3,2.1-0.5c0-0.1-1.8-0.4-3.4,0	C76.9,11.5,75.3,12.5,75.5,12.6z"/>
	<path class="amb-shape-fill" d="M15.6,13.2c0-0.1,4.3,0,6.7,0.5c2.4,0.5,5,1.9,5,2c0,0.1-2.7-0.8-5.1-1.4	C19.9,13.7,15.7,13.3,15.6,13.2z"/>
</svg>		</div>
					<div class="amb-container amb-col-gap-wide">
					<div class="amb-col amb-col-100 amb-top-column amb-el amb-el-1134254c" data-id="1134254c" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<section class="amb-section amb-section-inner amb-el amb-el-6b0e4ce amb-section-boxed amb-section-h-default amb-section-h-default" data-id="6b0e4ce" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-default">
					<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-54cfb35a" data-id="54cfb35a" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-67196b24 amb-invisible amb-widget amb-widget-heading" data-id="67196b24" data-amb-el-type="widget" data-settings="&#123;&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500&#125;" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<h1 class="amb-heading amb-size-default">Specialist in industriële schoonmaak</h1>				</div>
				</div>
				<div class="amb-el amb-el-78dbb0de amb-invisible amb-widget amb-widget-text" data-id="78dbb0de" data-amb-el-type="widget" data-settings="&#123;&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:1000&#125;" data-widget_type="text-editor.default">
				<div class="amb-widget-body">
									<p>Amblast is dé partner voor industriële reiniging in de papierindustrie en andere productieomgevingen. Wij zorgen dat uw machines, installaties en productieruimtes veilig, hygiënisch en optimaal blijven functioneren</p>								</div>
				</div>
				<div class="amb-el amb-el-3e91a050 amb-widget__width-auto amb-widget-mobile__width-inherit amb-invisible amb-widget amb-widget-button" data-id="3e91a050" data-amb-el-type="widget" data-settings="&#123;&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:1200&#125;" data-widget_type="button.default">
				<div class="amb-widget-body">
									<div class="amb-button-wrap">
					<a class="amb-button amb-button-link amb-size-lg" href="/contact">
						<span class="amb-button-inner">
									<span class="amb-button-text">Contact</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-1d0defc6" data-id="1d0defc6" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
							</div>
		</div>
					</div>
		</section>
				<section class="amb-section amb-section-inner amb-el amb-el-dec0685 amb-section-boxed amb-section-h-default amb-section-h-default" data-id="dec0685" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-default">
					<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-3e741a80" data-id="3e741a80" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-638613ae amb-pos-left amb-vertical-align-middle amb-widget__width-initial amb-widget-mobile__width-initial amb-invisible amb-widget amb-widget-image-box" data-id="638613ae" data-amb-el-type="widget" data-settings="&#123;&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:2000&#125;" data-widget_type="image-box.default">
				<div class="amb-widget-body">
					<div class="amb-image-box"><figure class="amb-image-box-img"><img decoding="async" width="200" height="209" src="/uploads/icons/Icons-3.png" class="amb-anim-grow attachment-large size-large amb-img-427 " alt=""    / loading="lazy"></figure><div class="amb-image-box-content"><h6 class="amb-image-box-title">Maandag t/m zondag</h6><p class="amb-image-box-text">24/7</p></div></div>				</div>
				</div>
				<div class="amb-el amb-el-2bcfe2c4 amb-pos-left amb-vertical-align-middle amb-widget__width-initial amb-widget-mobile__width-initial amb-invisible amb-widget amb-widget-image-box" data-id="2bcfe2c4" data-amb-el-type="widget" data-settings="&#123;&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:2000&#125;" data-widget_type="image-box.default">
				<div class="amb-widget-body">
					<div class="amb-image-box"><figure class="amb-image-box-img"><img decoding="async" width="195" height="159" src="/uploads/icons/Icons-1.png" class="amb-anim-grow attachment-full size-full amb-img-426 " alt=""    / loading="lazy"></figure><div class="amb-image-box-content"><h6 class="amb-image-box-title">+31 6 19 96 36 51</h6><p class="amb-image-box-text">info@amblast.nl</p></div></div>				</div>
				</div>
				<div class="amb-el amb-el-77090a6f amb-pos-left amb-vertical-align-middle amb-widget__width-initial amb-widget-mobile__width-initial amb-invisible amb-widget amb-widget-image-box" data-id="77090a6f" data-amb-el-type="widget" data-settings="&#123;&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:2000&#125;" data-widget_type="image-box.default">
				<div class="amb-widget-body">
					<div class="amb-image-box"><figure class="amb-image-box-img"><img decoding="async" width="208" height="210" src="/uploads/icons/Icons-2.png" class="amb-anim-grow attachment-full size-full amb-img-425 " alt=""    srcset="/uploads/icons/Icons-2.png 208w, /uploads/icons/Icons-2-150x150.png 150w"    / loading="lazy"></figure><div class="amb-image-box-content"><h6 class="amb-image-box-title">Actief in Limburg</h6><p class="amb-image-box-text">Gevestigd in Roermond</p></div></div>				</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-71433ff" data-id="71433ff" data-amb-el-type="column">
			<div class="amb-widget-wrap">
							</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>

				<section class="amb-section amb-section-top amb-el amb-el-4446a9d8 amb-section-boxed amb-section-h-default amb-section-h-default" data-id="4446a9d8" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-no">
					<div class="amb-col amb-col-100 amb-top-column amb-el amb-el-39f2d6bb" data-id="39f2d6bb" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<section class="amb-section amb-section-inner amb-el amb-el-293c5d6a amb-section-boxed amb-section-h-default amb-section-h-default" data-id="293c5d6a" data-amb-el-type="section" data-settings="&#123;&quot;background_background&quot;:&quot;classic&quot;&#125;">
						<div class="amb-container amb-col-gap-default">
					<div class="amb-col amb-col-25 amb-inner-column amb-el amb-el-1081458d" data-id="1081458d" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-bcd4364 amb-widget amb-widget-heading" data-id="bcd4364" data-amb-el-type="widget" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<div class="amb-heading amb-size-default">Onze diensten</div>				</div>
				</div>
				<div class="amb-el amb-el-2b35dd2b amb-widget__width-initial amb-widget amb-widget-heading" data-id="2b35dd2b" data-amb-el-type="widget" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<h2 class="amb-heading amb-size-default">Waarvoor kunt u bij ons terecht?</h2>				</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-25 amb-inner-column amb-el amb-el-779b17bb" data-id="779b17bb" data-amb-el-type="column">
			<div class="amb-widget-wrap">
							</div>
		</div>
				<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-707e367f" data-id="707e367f" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-61447d99 amb-widget__width-initial amb-info-box-above-title amb-widget amb-widget-pp-info-box-carousel" data-id="61447d99" data-amb-el-type="widget" data-widget_type="amb-info-carousel.default">
				<div class="amb-widget-body">
							<div class="amb-info-box-wrap amb-info-carousel amb-swiper swiper swiper-container-wrap-dots-outside" data-slider-settings="&#123;&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500,&quot;slides_per_view&quot;:1,&quot;space_between&quot;:24,&quot;auto_height&quot;:true,&quot;loop&quot;:&quot;yes&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:3000,&quot;pause_on_interaction&quot;:&quot;&quot;,&quot;pagination&quot;:&quot;bullets&quot;,&quot;slides_per_view_mobile&quot;:1,&quot;space_between_mobile&quot;:10,&quot;slides_per_view_tablet&quot;:1,&quot;space_between_tablet&quot;:10&#125;">
							<div class="swiper-wrapper">

							<div class="amb-info-box swiper-slide">

								<div class="amb-info-box-icon-wrap">
								<span class="amb-info-box-icon amb-pp-icon">
																			<img decoding="async" src="/uploads/service-cards/pressure-washer-1.png" alt="pressure-washer"  class="" width="512" height="512" loading="lazy">
																	</span>

							</div>


					<div class="amb-info-box-content">
								<div class="amb-info-box-title-wrap">
							<div class="amb-info-box-title-wrap2">
					<h5 class="amb-info-box-title">
						Industriële schoonmaak					</h5>
				</div>
								<div class="amb-info-box-subtitle">
									</div>
						</div>


													<div class="amb-info-box-text">
								<p>Machines, productielijnen, opslagtanks</p><p>Hogedrukreiniging</p><p>Preventief en correctief onderhoud</p>							</div>

													<div class="amb-info-box-footer">
								<a class="amb-info-box-button amb-button amb-size-md"																			href="/contact"																																					<span class="amb-pp-button-text">
											Offerte aanvragen										</span>
																										</a>
							</div>
											</div>

									</div>
							<div class="amb-info-box swiper-slide">

								<div class="amb-info-box-icon-wrap">
								<span class="amb-info-box-icon amb-pp-icon">
																			<img decoding="async" src="/uploads/service-cards/open-box-1.png" alt="open-box"  class="" width="512" height="512" loading="lazy">
																	</span>

							</div>


					<div class="amb-info-box-content">
								<div class="amb-info-box-title-wrap">
							<div class="amb-info-box-title-wrap2">
					<h5 class="amb-info-box-title">
						Papierindustrie					</h5>
				</div>
								<div class="amb-info-box-subtitle">
									</div>
						</div>


													<div class="amb-info-box-text">
								<p data-start="1664" data-end="1741">Reinigen van papiermachines (droogpartijen, perspartijen, filters, vloeren)</p><p data-start="1747" data-end="1787">Verwijderen van pulp- en stofafzetting</p><p data-start="1793" data-end="1837">Verminderen van brand- en storingsrisico’s</p>							</div>

													<div class="amb-info-box-footer">
								<a class="amb-info-box-button amb-button amb-size-md"																			href="/contact"																																					<span class="amb-pp-button-text">
											Offerte aanvragen										</span>
																										</a>
							</div>
											</div>

									</div>
							<div class="amb-info-box swiper-slide">

								<div class="amb-info-box-icon-wrap">
								<span class="amb-info-box-icon amb-pp-icon">
																			<img decoding="async" src="/uploads/service-cards/household-1.png" alt="household"  class="" width="512" height="512" loading="lazy">
																	</span>

							</div>


					<div class="amb-info-box-content">
								<div class="amb-info-box-title-wrap">
							<div class="amb-info-box-title-wrap2">
					<h5 class="amb-info-box-title">
						Vloeren reiniging					</h5>
				</div>
								<div class="amb-info-box-subtitle">
									</div>
						</div>


													<div class="amb-info-box-text">
								<p>Een schone vloer is de basis van een veilige en efficiënte werkomgeving. Met onze professionele veeg- en schrobmachines reinigen wij moeiteloos grote oppervlakken, zoals magazijnen en fabriekshallen. Kies voor eenmalige schoonmaak of periodiek onderhoud.</p>							</div>

													<div class="amb-info-box-footer">
								<a class="amb-info-box-button amb-button amb-size-md"																			href="/contact"																																					<span class="amb-pp-button-text">
											Offerte aanvragen										</span>
																										</a>
							</div>
											</div>

									</div>
							<div class="amb-info-box swiper-slide">

								<div class="amb-info-box-icon-wrap">
								<span class="amb-info-box-icon amb-pp-icon">
																			<img decoding="async" src="/uploads/service-cards/sweeping-1.png" alt="sweeping"  class="" width="512" height="512" loading="lazy">
																	</span>

							</div>


					<div class="amb-info-box-content">
								<div class="amb-info-box-title-wrap">
							<div class="amb-info-box-title-wrap2">
					<h5 class="amb-info-box-title">
						Overige industrieën					</h5>
				</div>
								<div class="amb-info-box-subtitle">
					Subtitle				</div>
						</div>


													<div class="amb-info-box-text">
								<p data-start="2050" data-end="2102">Chemische fabrieken, logistieke hallen, warehouses</p><p data-start="2108" data-end="2155">Veiligheidsreiniging met aandacht voor milieu</p>							</div>

											</div>

									</div>

							</div>
							<div class="swiper-pagination swiper-pagination-61447d99"></div>
				</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>

				<section class="amb-section amb-section-top amb-el amb-el-61fd55d5 amb-section-full amb-section-h-default amb-section-h-default" data-id="61fd55d5" data-amb-el-type="section" data-settings="&#123;&quot;background_background&quot;:&quot;classic&quot;&#125;">
						<div class="amb-container amb-col-gap-wide">
					<div class="amb-col amb-col-33 amb-top-column amb-el amb-el-1d97394b" data-id="1d97394b" data-amb-el-type="column">
			<div class="amb-widget-wrap">
							</div>
		</div>
				<div class="amb-col amb-col-33 amb-top-column amb-el amb-el-621259ac" data-id="621259ac" data-amb-el-type="column">
			<div class="amb-widget-wrap">
							</div>
		</div>
				<div class="amb-col amb-col-33 amb-top-column amb-el amb-el-63c57a03" data-id="63c57a03" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<section class="amb-section amb-section-inner amb-el amb-el-79b35f1f amb-section-boxed amb-section-h-default amb-section-h-default" data-id="79b35f1f" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-default">
					<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-275c1ce9" data-id="275c1ce9" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-2bb5a14d amb-widget__width-initial amb-widget amb-widget-heading" data-id="2bb5a14d" data-amb-el-type="widget" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<h2 class="amb-heading amb-size-default">Industriële reiniging in de papierindustrie</h2>				</div>
				</div>
				<div class="amb-el amb-el-2a596f3a amb-widget__width-initial amb-widget amb-widget-text" data-id="2a596f3a" data-amb-el-type="widget" data-widget_type="text-editor.default">
				<div class="amb-widget-body">
									<p data-start="520" data-end="799">Zorg voor een veilige, schone en efficiënte werkomgeving in complexe industriële sectoren. Wij zijn gespecialiseerd in het reinigen van <strong data-start="676" data-end="723">machines, productielijnen en fabriekshallen</strong></p><p data-start="801" data-end="993"> </p>								</div>
				</div>
				<div class="amb-el amb-el-637f6c8c amb-widget__width-initial amb-widget amb-widget-button" data-id="637f6c8c" data-amb-el-type="widget" data-widget_type="button.default">
				<div class="amb-widget-body">
									<div class="amb-button-wrap">
					<a class="amb-button amb-button-link amb-size-lg" href="/over-ons/">
						<span class="amb-button-inner">
									<span class="amb-button-text">Over ons</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-8584a37" data-id="8584a37" data-amb-el-type="column">
			<div class="amb-widget-wrap">
							</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>


				<section class="amb-section amb-section-top amb-el amb-el-52d17df4 amb-section-boxed amb-section-h-default amb-section-h-default" data-id="52d17df4" data-amb-el-type="section" data-settings="&#123;&quot;background_background&quot;:&quot;classic&quot;&#125;">
							<div class="amb-bg-overlay"></div>
							<div class="amb-container amb-col-gap-no">
					<div class="amb-col amb-col-33 amb-top-column amb-el amb-el-7c052487" data-id="7c052487" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<section class="amb-section amb-section-inner amb-el amb-el-42794ecf amb-section-boxed amb-section-h-default amb-section-h-default" data-id="42794ecf" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-wide">
					<div class="amb-col amb-col-100 amb-inner-column amb-el amb-el-74706ea1" data-id="74706ea1" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-3ac7c178 amb-widget__width-initial amb-widget amb-widget-heading" data-id="3ac7c178" data-amb-el-type="widget" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<h2 class="amb-heading amb-size-default">Geinteresseerd in een van onze diensten?</h2>				</div>
				</div>
				<div class="amb-el amb-el-fdd7513 amb-widget__width-initial amb-widget amb-widget-text" data-id="fdd7513" data-amb-el-type="widget" data-widget_type="text-editor.default">
				<div class="amb-widget-body">
									<p>Neem gerust contact met ons op en wij zoeken de beste optie voor u of uw project.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="amb-section amb-section-inner amb-el amb-el-70c01f7b amb-section-boxed amb-section-h-default amb-section-h-default" data-id="70c01f7b" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-default">
					<div class="amb-col amb-col-33 amb-inner-column amb-el amb-el-52165a52" data-id="52165a52" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-34841a4c amb-info-box-top amb-widget amb-widget-pp-info-box" data-id="34841a4c" data-amb-el-type="widget" data-widget_type="amb-info-box.default">
				<div class="amb-widget-body">
							<div class="amb-info-box-wrap">
			<div class="amb-info-box">
									<div class="amb-info-box-icon-wrap">
														<span class="amb-info-box-icon amb-pp-icon amb-anim-float">
			<img loading="lazy" decoding="async" width="195" height="159" src="/uploads/icons/Icons-1.png" class="attachment-full size-full amb-img-426 " alt=""    />		</span>
													</div>
								<div class="amb-info-box-content">
					<div class="amb-info-box-title-wrap">
													<div class="amb-info-box-title-wrap2">
								<h6 class="amb-info-box-title">
									Telefoon								</h6>
							</div>
												</div>


											<div class="amb-info-box-text">
							<p>+31 6 19 96 36 51</p>						</div>
														</div>
			</div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-33 amb-inner-column amb-el amb-el-e9c2d8d" data-id="e9c2d8d" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-aa9039c amb-info-box-top amb-widget amb-widget-pp-info-box" data-id="aa9039c" data-amb-el-type="widget" data-widget_type="amb-info-box.default">
				<div class="amb-widget-body">
							<div class="amb-info-box-wrap">
			<div class="amb-info-box">
									<div class="amb-info-box-icon-wrap">
														<span class="amb-info-box-icon amb-pp-icon amb-anim-float">
			<img loading="lazy" decoding="async" width="299" height="295" src="/uploads/icons/Icons-10.png" class="attachment-full size-full amb-img-451 " alt=""    />		</span>
													</div>
								<div class="amb-info-box-content">
					<div class="amb-info-box-title-wrap">
													<div class="amb-info-box-title-wrap2">
								<h6 class="amb-info-box-title">
									Email								</h6>
							</div>
												</div>


											<div class="amb-info-box-text">
							<p>info@amblast.nl</p>						</div>
														</div>
			</div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-33 amb-inner-column amb-el amb-el-5b43a212" data-id="5b43a212" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-22728f1b amb-info-box-top amb-widget amb-widget-pp-info-box" data-id="22728f1b" data-amb-el-type="widget" data-widget_type="amb-info-box.default">
				<div class="amb-widget-body">
							<div class="amb-info-box-wrap">
			<div class="amb-info-box">
									<div class="amb-info-box-icon-wrap">
														<span class="amb-info-box-icon amb-pp-icon amb-anim-float">
			<img loading="lazy" decoding="async" width="318" height="318" src="/uploads/icons/Icons-1-3.png" class="attachment-full size-full amb-img-450 " alt=""    srcset="/uploads/icons/Icons-1-3.png 318w, /uploads/icons/Icons-1-3-300x300.png 300w, /uploads/icons/Icons-1-3-150x150.png 150w"    />		</span>
													</div>
								<div class="amb-info-box-content">
					<div class="amb-info-box-title-wrap">
													<div class="amb-info-box-title-wrap2">
								<h6 class="amb-info-box-title">
									Werktijden								</h6>
							</div>
												</div>


											<div class="amb-info-box-text">
							<p>24/7</p>						</div>
														</div>
			</div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
				<div class="amb-col amb-col-33 amb-top-column amb-el amb-el-2bde3258" data-id="2bde3258" data-amb-el-type="column">
			<div class="amb-widget-wrap">
							</div>
		</div>
				<div class="amb-col amb-col-33 amb-top-column amb-el amb-el-23a110a1" data-id="23a110a1" data-amb-el-type="column" data-settings="&#123;&quot;background_background&quot;:&quot;classic&quot;&#125;">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-16bbe8c4 amb-widget amb-widget-text" data-id="16bbe8c4" data-amb-el-type="widget" data-widget_type="text-editor.default">
				<div class="amb-widget-body">
									<h5>Snel contact of een offerte, stuur gerust een mailtje</h5>								</div>
				</div>
				<div class="amb-el amb-el-dccb7b0 amb-widget amb-widget-bdt-contact-form-7" data-id="dccb7b0" data-amb-el-type="widget" data-widget_type="amb-bdt-contact-form-7.default">
				<div class="amb-widget-body">

<div class="amb-form-wrap no-js" lang="nl-NL" dir="ltr">
{useWeb3Forms ? (
<form action="https://api.web3forms.com/submit" method="POST" class="amb-form init" aria-label="Contactformulier" novalidate>
<input type="hidden" name="access_key" value={web3FormsKey} />
<input type="hidden" name="from_name" value={site.brand} />
<input type="hidden" name="subject" value={`Bericht via ${site.primaryDomain}`} />
<p><label><br /><span class="amb-form-field-wrap"><input required size="40" maxlength="400" class="amb-form-field amb-form-text amb-form-required" aria-required="true" type="text" name="name" placeholder="Naam*" value="" /></span></label></p>
<p><label><br /><span class="amb-form-field-wrap"><input required size="40" maxlength="400" class="amb-form-field amb-form-email amb-form-text amb-form-validates-email amb-form-required" aria-required="true" type="email" name="email" placeholder="Email*" value="" /></span></label></p>
<p><label><br /><span class="amb-form-field-wrap"><input required size="40" maxlength="400" class="amb-form-field amb-form-tel amb-form-text amb-form-required" aria-required="true" type="tel" name="phone" placeholder="Tel. nummer*" value="" /></span></label></p>
<p><label><br /><span class="amb-form-field-wrap"><textarea cols="40" rows="10" maxlength="2000" class="amb-form-field amb-form-textarea" placeholder="Omschrijving project" name="message"></textarea></span></label></p>
<input type="checkbox" name="botcheck" style="display:none" tabindex="-1" autocomplete="off" />
<p><input class="amb-form-field amb-form-submit has-spinner" type="submit" value="Verzenden" /></p>
<div class="amb-form-response" aria-hidden="true"></div>
</form>
) : (
<p>Stuur ons direct een bericht: <a href={`mailto:${fallbackEmail}`}>{fallbackEmail}</a></p>
)}
</div>
				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="amb-section amb-section-top amb-el amb-el-2586ba8 amb-section-boxed amb-section-h-default amb-section-h-default" data-id="2586ba8" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-default">
					<div class="amb-col amb-col-100 amb-top-column amb-el amb-el-b300d12" data-id="b300d12" data-amb-el-type="column">
			<div class="amb-widget-wrap">
							</div>
		</div>
					</div>
		</section>
				</div>
</BaseLayout>
